.header{
	margin-bottom: 30px;
}

.header h1{
	margin: 15px 0;
}

.todo-title{
	margin: 10px 0;
}

.todo-action{
	margin-left: 8px;
	cursor: pointer;
	opacity: 0.7;
}

.todo-action:hover{
	opacity: 1;
}

.todo-delete:hover {
	color: #d9534f;
}

.todo-mark-completed:hover, .todo-mark-completed.completed{
	color: #5cb85c;
}

.todo-mark-completed.completed:hover{
	color: #ebebeb;
}
